@media(min-width:650px){
    .inferior{
        display: flex;
    }

    .esquerda{
        width: 100%;
        padding: 2,5rem;
    }

    .main{
        width: 40rem;
        padding: 0;
    }
    
    .body{
        visibility: hidden;
    }
}